<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>트위치 밈 저장소</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="/js/jquery.js"></script>
</head>

<!--header.html-->
<header th:replace="~{fragments/header::headerFragment}"></header>

<!--본문 영역(각각의 html)-->
<body layout:fragment="content"></body>

<!--footer.html-->
<footer th:replace="~{fragments/footer::footerFragment}"></footer>
</html>