<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
    <div class="container py-5 my-5">
        <div>
            <div class="mb-3 pt-2">
<!--                <strong type="text" class="form-control" id="meme" name="meme" th:text="${post.getTitle()}"></strong>-->
                <strong th:text="${post.getTitle()}"></strong>
            </div>
            <div class="row mb-3">
                <div class="col-auto">
                    <img th:src="${post.getMember().getPicture()}" width="40" height="40" class="rounded-circle">
                </div>
                <div class="col col-sm">
                    <p th:text="${post.getMember().getNickname()}"></p>
                </div>
            </div>
            <div class="mb-3 pt-5" th:text="${post.getSummary()}">
<!--                <textarea id="summary" class="form-control"  readonly></textarea>-->
            </div>
            <div class="mb-3 pt-2" id="description" name="description" th:utext="${post.getContent()}">
<!--                <p id="description" name="description" th:utext="${post.getDescription()}"></p>-->
            </div>
            <br>
            <input type="hidden" id="broadcastId" name="login" th:value="${post.getBroadcastId()}">
            <input type="hidden" id="postId" name="id" th:value="${post.getId()}">
            <th:block th:if="${member!=null}">
                <input type="hidden" id="memberId" th:value="${member.getId()}">
                <button type="submit" class="btn btn-bd-purple ml-auto" id="updateForm" th:if="${post.getMember().getId()}==${member.getId()} or ${#strings.equals(member.getRole(), 'ADMIN')}">수정하기</button>
                <button type="submit" class="btn btn-bd-purple ml-auto" id="delete" th:if="${post.getMember().getId()}==${member.getId()} or ${#strings.equals(member.getRole(), 'ADMIN')}">삭제</button>
                <button th:if="${post.isCheckGood()}" type="button" class="btn btn-bd-purple" id="cancelGood">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    좋아요
                </button>
                <button th:unless="${post.isCheckGood()}" type="button" class="btn btn-bd-outline-purple" id="addGood">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    좋아요
                </button>
            </th:block>
        </div>
    </div>

    <script src="/js/post.js"></script>
</th:block>
</html>